<!--web-app_2_3.dtd  2.3版本中,jsp页面不支持EL-->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">
  <display-name>Archetype Created Web Application</display-name>
<!--  <listener>
    <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
  </listener>-->
  <!--<context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:/applicationContext.xml</param-value>
  </context-param>-->
  <!-- ContextLoaderListener是一个ServletContextListener,通过contextConfigLocation参数所指定的Spring配置文件启动“业务层”的spring容器 -->
<!--  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>-->

  <!-- 默认自动加载/WEB-INF/smart-servlet.xml的spring配置文件，启动Web层的spring容器 -->
  <servlet>
    <servlet-name>smart</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <!--对默认规则进行调整 -->
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/spring/webApplicationContext.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>smart</servlet-name>
    <url-pattern>*.html</url-pattern>
  </servlet-mapping>


</web-app>
